.particles-wrapper {
  background-color: #222;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.particles-header {
  color: #999;
  background-color: #222;
  background: url('bg.png');
  background-size:cover;
  background-attachment:fixed;
}

.particles-home {
  color: #555B60;
  background-color: #222;
}
